/.idea/
/target/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Servers/
/PedidoVenda/.settings/
/PedidoVenda/target/
/ProjetoJEE/.classpath
/ProjetoJEE/.project
/ProjetoJEE/.settings
PedidoVenda/src/main/resources/mail\.properties
